 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}
.right{
    margin-left:715px;
    margin-top: -465px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
}
.login-box {
  background: white;      
  width: 360px;
  height:300px;
  padding: 20px;
  border-radius: 8px;      
  box-shadow: 0 0 10px rgba(0,0,0,0.15); 
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.login-box input {
  padding: 12px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.login-btn {
  background: #1877f2;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn {
  background: #42b72a;
  color: white;
  border: none;
  padding: 12px;
  width:240px;
  font-size: 18px;
  font-weight:bold;
  border-radius: 6px;
  cursor: pointer;
  margin-left:60px;
}
#fp{
  margin-left: 120px;
  color: blue;

}

.p{
padding: 0;
font-size: 27px;
line-height: 34px;
width: auto;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
margin-top:10px;
}
.fb_logo_img{
height: 106px;
margin: -28px;
}

.first{
margin: 207px 134px;
}
